# Some Hosting providers need you to set variables on their service, so please be sure you set it too
VITE_HOST="http://domain.com"
VITE_APP_TITLE="Genshin Impact Wish Simulator"
VITE_DESCRIPTION="Simulate gacha with no cost on the latest banner. Get experience when wishing character or weapon that promoted on the current banner for free"
VITE_KEYWORDS="Genshin Impact Wish simulator, Gacha simulator, genshin Gacha, free gacha, free wish, free primogem, genshin impact banner, Character Event, Weapon Event"

# Image Hosting for Custom Banner
VITE_IBB_KEY="IMGBB API KEY"

