@charset "UTF-8";

@font-face {
  font-family: "genshin-icon";
  src:url("assets/fonts/genshin-icon.eot");
  src:url("assets/fonts/genshin-icon.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/genshin-icon.woff") format("woff"),
    url("assets/fonts/genshin-icon.ttf") format("truetype"),
    url("assets/fonts/genshin-icon.svg#genshin-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "genshin-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="gi-"]:before,
[class*=" gi-"]:before {
  font-family: "genshin-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gi-star:before {
  content: "\41";
}
.gi-circle-o:before {
  content: "\44";
}
.gi-anemo:before {
  content: "\61";
}
.gi-arrow-left:before {
  content: "\63";
}
.gi-arrow-right:before {
  content: "\65";
}
.gi-close:before {
  content: "\66";
}
.gi-dendro:before {
  content: "\69";
}
.gi-electro:before {
  content: "\64";
}
.gi-geo:before {
  content: "\67";
}
.gi-hydro:before {
  content: "\6f";
}
.gi-plus:before {
  content: "\6d";
}
.gi-primo-star:before {
  content: "\4e";
}
.gi-pyro:before {
  content: "\4c";
}
.gi-times:before {
  content: "\70";
}
.gi-domain:before {
  content: "\6c";
}
.gi-dragonspine:before {
  content: "\71";
}
.gi-inazuma:before {
  content: "\72";
}
.gi-montstad:before {
  content: "\73";
}
.gi-arrow-up:before {
  content: "\74";
}
.gi-bow:before {
  content: "\62";
}
.gi-catalyst:before {
  content: "\68";
}
.gi-claymore:before {
  content: "\6a";
}
.gi-cryo:before {
  content: "\6e";
}
.gi-polearm:before {
  content: "\50";
}
.gi-sword:before {
  content: "\75";
}
.gi-angle-right:before {
  content: "\76";
}
.gi-angle-left:before {
  content: "\77";
}
.gi-caret-down:before {
  content: "\78";
}
.gi-caret-up:before {
  content: "\79";
}
.gi-reply:before {
  content: "\6b";
}
.gi-delete:before {
  content: "\7a";
}
.gi-cancel:before {
  content: "\42";
}
.gi-recomended:before {
  content: "\43";
}
.gi-gift-shop:before {
  content: "\45";
}
.gi-paimon-bargains:before {
  content: "\46";
}
.gi-character:before {
  content: "\48";
}
.gi-companion:before {
  content: "\49";
}
.gi-weapon:before {
  content: "\4b";
}
.gi-rotate-phone:before {
  content: "\4a";
}
.gi-genesis:before {
  content: "\47";
}
.gi-exchange:before {
  content: "\4d";
}
